<md-nav-bar
   md-selected-nav-item="currentNavItem"
   nav-bar-aria-label="navigation links">
  <md-nav-item  name="SageInc">Sage Inc</md-nav-item>
</md-nav-bar>
<section layout="row" flex data-demo-id="flowchart"> 

  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="2"
              style="max-width: 200px;">
    <md-content layout-padding layout="column">
      <md-button class="md-primary">
        <i class="material-icons" style="font-size: 48px;">textsms</i>
      </md-button>
      <md-button class="md-primary">
        <i class="material-icons" style="font-size: 48px;">insert_chart</i>
      </md-button>
      <md-button class="md-primary">
        <i class="material-icons" style="font-size: 48px;">settings_input_component</i>
      </md-button>
      <md-button class="md-primary">
        <i class="material-icons" style="font-size: 48px;">date_range</i>
      </md-button>
    </md-content>
  </md-sidenav>

  <md-content flex layout-padding>
    <div class="jtk-demo-main">

      <!-- FAB Speed Dial Control -->
      <div ng-controller="JourneyFABCtrl as fabctrl" layout="column" style="position: absolute; right: 3%; top: 5%;" ng-cloak>
        <div class="lock-size" layout="row">
          <md-fab-speed-dial md-open="fabctrl.isOpen" md-direction="down" ng-class="fabctrl.selectedMode">
            <md-fab-trigger>
              <md-button aria-label="menu" class="md-fab md-primary" layout="row" layout-align="center center">
                <i class="material-icons">more_vert</i>
              </md-button>
            </md-fab-trigger>

            <md-fab-actions>
              <md-button aria-label="Condition" class="md-fab md-raised md-mini" layout="row" layout-align="center center"
                         ng-click="createCondition()">
                <i class="material-icons">device_hub</i>
              </md-button>
              <md-button aria-label="Action" class="md-fab md-raised md-mini" layout="row" layout-align="center center"
                         ng-click="createAction('#8888FF')">
                <i class="material-icons" style="background-color: #8888FF;">check_box_outline_blank</i>
              </md-button>
              <md-button aria-label="Explanation" class="md-fab md-raised md-mini" layout="row" layout-align="center center"
                         ng-click="createAction('#FFFF88')">
                <i class="material-icons" style="background-color: #FFFF88;">check_box_outline_blank</i>
              </md-button>
            </md-fab-actions>
          </md-fab-speed-dial>
        </div>
      </div>

      <!-- Canvas for flowchart -->
      <div class="jtk-demo-canvas flowchart-demo jtk-surface" id="canvas"></div>

    </div>
  </md-content>

</section>
