.flowchart-demo .outer-window {
    opacity: 0.8;
    min-width: 80px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #ffffff;
    color: black;
    font-family: helvetica, sans-serif;
    font-size: 0.9em;
}

.flowchart-demo .outer-window-header {
    border: 1px solid #346789;
    opacity: 0.8;
    min-width: 80px;
    min-height: 30px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    background-color: #ffffff;
    color: black;
    font-family: helvetica, sans-serif;
    font-size: 1.25em;
}

.flowchart-demo .inner-window {
    border: 1px solid #bbbbbb;
    opacity: 0.8;
    /* min-width: 80px;
    max-width: 150px; */
    width: 120px;
    min-height: 50px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    background-color: #eeeeee;
    color: black;
    font-family: helvetica, sans-serif;
    font-size: 1.0em;
}

.flowchart-demo .inner-window-action {
    border: 1px solid #bbbbbb;
    opacity: 0.8;
    min-width: 80px;
    min-height: 50px;
    width: 175px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    background-color: #eeeeee;
    color: black;
    font-family: helvetica, sans-serif;
    font-size: 1.0em;
}

.flowchart-demo .outer-window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
}

.flowchart-demo .inner-window:hover {
    opacity: 0.6;
    background-color: #ffffff;
}

.flowchart-demo .active {
    border: 1px dotted green;
}

.flowchart-demo .hover {
    border: 1px dotted red;
}

.flowchart-demo .jtk-connector {
    z-index: 4;
}

.flowchart-demo .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

.flowchart-demo .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    cursor: pointer;
}

.flowchart-demo .aLabel.jtk-hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.window.jtk-connected {
    border: 1px solid green;
}

.jtk-drag {
    outline: 4px solid pink !important;
}

path, .jtk-endpoint {
    cursor: pointer;
}

.jtk-overlay {
    background-color:transparent;
}